@import "tailwindcss";

:root {
  --background: #f5f3ee;
  --foreground: #171717;
}

/* Apply Google Sans globally */
body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* Optional: Tweak text rendering for better legibility */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility for the specific weight/grade settings if needed */
.font-google-sans {
  font-family: "Google Sans", sans-serif;
  font-variation-settings: "GRAD" 0;
}

::selection {
  background-color: #6366f1;
  color: white;
}


/* .paused {
  animation-play-state: paused !important;
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}